 * {
 	margin: 0;
 	padding: 0;
 	border: none;
 	font-size: 1.5625vw;
 	font-family: "Microsoft Yahei";
 }
 html,body
 {
 	overflow: auto;
 }

 .box{
 	border-bottom: 1px solid #dcdcdc;
 	display: flex;
 	flex-direction: row;
 	width: 100%;
 	height: 15vh;
 }

 .box img{
 	width: 20%;
 	height: 80%;
 	padding: 1.5vw;
 }

 .AllContent{
 	display: flex;
 	flex-direction: column;
 	margin-left: 5%;
 	margin-top: 2%;
 	word-break:break-word;
 	text-overflow: ellipsis;
 	width: 60%
 }

 .AllContent h2{
 	font-size: 2em;
 }

 .content{
 	width: 100%;
 	height: 100px;
 	word-break:break-word;
 	overflow: hidden;
 }

 .time{
  color: #887b7b;
 }

 .loding_but{
 	text-align: center;
 	margin-top: 2vw;
 	height: 5vw;
 }
 .loding_but p{
 	 	font-size: 2vw;
 }

/* .card{
 	position: fixed; 
 	background-color:#c20c0c;
 	right: 15px;
 	bottom: 15px;
 	width: 30vw;
 	height: 30vw;
 	border-radius: 15vw;
 }*/