<!DOCTYPE html>
<html lang="Zh-cn">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"><meta  name="format-detection" content="telephone-no">
	<link rel="stylesheet" href="css/register-css.css" defer/>

	<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<title>中山党建</title>
</head>
<body>
	<div id="rootView">
		<header class="header">
			<div class="returnImg" v-on:click="onBackClick">
				<a href="#">
					<img src="images/return.png">
				</a>
			</div>
			<div class="headerInfo" id = "haderTitle">重置密码</div>
		</header>
		<input class="enabled text-info"  placeholder="手机号码" v-model="allData.phone"  >
		<div id="sure">
			<input class="sured" placeholder="验证码"  v-model="allData.vcode" />
			<div class="sureButton"  v-on:click="sendVCode"><a href = "#">{{vcodeShow}}</a></div>
		</div>
		<input class="enabled text-info" placeholder="密码" type="password" v-model="allData.new_password" />
		<input class="enabled text-info" placeholder="确认密码" type="password" v-model="allData.confirm_password"/>
		<div class="confirm" v-on:click="saveData"><a href = "#">确认</a></div>
	</div>
</body>


<script type="text/javascript">
	var app=new Vue({
		el:'#rootView',
		data:{
			api_url:"http://120.24.211.212:7777/v1/users/resetpwd",
			vcode_url:"http://120.24.211.212:7777/v1/users/requestcode",
			allData:{
				phone:null,
				vcode:null,
				new_password:null,
				confirm_password:null
			},
			vcodeShow:"获取验证码",
			isSend:false,
		},
		created:function(){
		},
		methods:{ 
			sendVCode:function(){
				if (this.isSend) {
					return;
				}
				if (this.allData.phone==null||!this.allData.phone.match(/^[1][3,4,5,7,8][0-9]{9}$/)) {
					alert("请输入有效的手机号码");
					return;
				}
				var that=this;
				axios.get(this.vcode_url+'?phone='+this.allData.phone)
				.then(function(response){
					if (response.data.code!=200) {
						alert(response.data.message);
						return;
					}
					that.waitIdentify();
				}).catch(function (error) {
					console.log("错误:"+error);
				});

			},
			saveData:function(){
				var data=this.allData;
				if (data.phone==null||!data.phone.match(/^[1][3,4,5,7,8][0-9]{9}$/)) {
					alert("请输入有效的手机号码");
					return;
				}
				if (data.vcode==null||data.vcode.lenth<6) {
					alert("请输入有效验证码");
					return;
				}
				if (data.new_password==null||data.confirm_password==null) {
					alert("请输入密码");
					return;
				}
				if (data.new_password!=data.confirm_password) {
					alert("密码不一致");
					return;
				}

				var that=this;
				this.axiosCreate({})
				.post(this.api_url,data)
				.then(function(response){
					alert(response.data.message);
					if (response.data.code==200) {
						that.onBackClick();
					};
				})
				.catch(function (error) {
					console.log("错误:"+error);
				});
			},
			onBackClick:function(){
				window.history.go(-1);
			},
			axiosCreate:function(headers){
				return axios.create({
					timeout: 1000,
					async:true,
					crossDomain:true,
					headers: headers
				});
			},
			waitIdentify:function(){
				if (this.isSend) {
					return;
				}
				let that=this;
				let showText=this.vcodeShow;
				this.vcodeShow=60;
				this.isSend=true;
				let interval = window.setInterval(function(){
					console.log(that.vcodeShow)
					if ((that.vcodeShow--)<=1) {
						that.vcodeShow=showText;
						that.isSend=false;
						window.clearInterval(interval);
					}  
				},1000);
			},
		},
	});
</script>
</html>